@charset "UTF-8";
@font-face {
  font-family: 'riptide-icons';
  src: url("Data/Resources/riptide-icons/riptide-icons.eot?98421148");
  src: url("Data/Resources/riptide-icons/riptide-icons.eot?98421148#iefix") format("embedded-opentype"), url("Data/Resources/riptide-icons/riptide-icons.woff2?98421148") format("woff2"), url("Data/Resources/riptide-icons/riptide-icons.woff?98421148") format("woff"), url("Data/Resources/riptide-icons/riptide-icons.ttf?98421148") format("truetype"), url("Data/Resources/riptide-icons/riptide-icons.svg?98421148#riptide-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 17, Data/Resources/scss/_riptide-icons.scss */
.icon, .line[ltype=join] .message:before, .line[ltype=part] .message:before,
.line[ltype=quit] .message:before, .line[ltype=topic] .message:before, .line[ltype=mode] .message:before, .line[ltype=debug] .message:before, .line[ltype=nick] .message:before, .line[ltype=website] .message:before, .line[ltype=action] .sender:before,
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "riptide-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 42, Data/Resources/scss/_riptide-icons.scss */
.icon-globe:before, .line[ltype=website] .message:before {
  content: '\e800';
}

/* '' */
/* line 43, Data/Resources/scss/_riptide-icons.scss */
.icon-right-big:before, .line[ltype=join] .message:before {
  content: '\e801';
}

/* '' */
/* line 44, Data/Resources/scss/_riptide-icons.scss */
.icon-left-big:before, .line[ltype=part] .message:before,
.line[ltype=quit] .message:before {
  content: '\e802';
}

/* '' */
/* line 45, Data/Resources/scss/_riptide-icons.scss */
.icon-comment:before, .line[ltype=topic] .message:before {
  content: '\e803';
}

/* '' */
/* line 46, Data/Resources/scss/_riptide-icons.scss */
.icon-pencil:before {
  content: '\e804';
}

/* '' */
/* line 47, Data/Resources/scss/_riptide-icons.scss */
.icon-star:before, .line[ltype=action] .sender:before {
  content: '\e805';
}

/* '' */
/* line 48, Data/Resources/scss/_riptide-icons.scss */
.icon-heart:before {
  content: '\e806';
}

/* '' */
/* line 49, Data/Resources/scss/_riptide-icons.scss */
.icon-heart-empty:before {
  content: '\e807';
}

/* '' */
/* line 50, Data/Resources/scss/_riptide-icons.scss */
.icon-user:before, .line[ltype=nick] .message:before {
  content: '\e808';
}

/* '' */
/* line 51, Data/Resources/scss/_riptide-icons.scss */
.icon-doc-text-inv:before {
  content: '\e809';
}

/* '' */
/* line 52, Data/Resources/scss/_riptide-icons.scss */
.icon-flash:before, .line[ltype=mode] .message:before, .line[ltype=debug] .message:before {
  content: '\e80a';
}

/* '' */
/* line 93, Data/Resources/scss/_theme.scss */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-hyphens: auto;
  hyphens: auto;
  -webkit-word-break: break-word;
  word-wrap: break-word;
  -webkit-word-wrap: break-word;
  word-wrap: break-word;
}

/* line 112, Data/Resources/scss/_theme.scss */
body {
  color: #DDDDDD;
  background-color: #1b2b34;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  overflow-y: visible;
  font-family: "Helvetica Neue";
  font-size: 12px;
  line-height: 1.4;
  font-weight: 200;
}

/* line 125, Data/Resources/scss/_theme.scss */
p {
  overflow: visible !important;
}

/* line 129, Data/Resources/scss/_theme.scss */
#body_home {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  max-height: 99.99%;
  position: absolute;
}

/* line 143, Data/Resources/scss/_theme.scss */
a {
  color: #6699CC;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  border-bottom: 1px solid;
}

/* line 150, Data/Resources/scss/_theme.scss */
a:hover {
  color: #b3cce6;
}

/* line 158, Data/Resources/scss/_theme.scss */
body a img {
  border: 0;
}

/* line 162, Data/Resources/scss/_theme.scss */
body video,
body img {
  display: block;
}

/* line 167, Data/Resources/scss/_theme.scss */
.inlineImageCell {
  position: relative;
  display: table;
  overflow: auto;
  width: auto;
  height: auto;
}

/* line 175, Data/Resources/scss/_theme.scss */
.inlineImageCell > a {
  display: inline-block;
  border: none;
}

/* line 180, Data/Resources/scss/_theme.scss */
.inlineImageCell .image {
  display: inline-block;
  float: left;
  margin: 15px 0;
  min-width: 100px;
}

/* line 187, Data/Resources/scss/_theme.scss */
.inlineImageCell .closeButton {
  background: #4f9261;
  color: #99C794;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  font-size: 12px !important;
  font-family: "Helvetica Neue" !important;
  font-weight: 700 !important;
  text-align: center;
  line-height: 18px;
  top: 5px;
  right: -7px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
/* line 206, Data/Resources/scss/_theme.scss */
.inlineImageCell .closeButton:hover {
  background: #346040;
}

/* line 218, Data/Resources/scss/_theme.scss */
div[id=mark] {
  clear: both;
  height: 1px;
  background: linear-gradient(90deg, #EC5F67, #F99157, #FAC863, #99C794, #5FB3B3, #6699CC, #C594C5);
}

/* line 236, Data/Resources/scss/_theme.scss */
#topic_bar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 400;
  opacity: 0;
  color: #99C794;
  background-color: #4f9261;
  position: fixed;
  padding: 5px 5px 5px;
  -webkit-transition: opacity 0.90s linear;
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 11px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
/* line 256, Data/Resources/scss/_theme.scss */
#topic_bar a {
  color: rgba(255, 255, 255, 0.75);
}

/* line 261, Data/Resources/scss/_theme.scss */
#topic_bar:hover {
  overflow: visible;
  white-space: normal;
}

/* line 270, Data/Resources/scss/_theme.scss */
.line {
  padding: 3px 0;
  clear: both;
  min-height: 16.8px;
}

/* line 276, Data/Resources/scss/_theme.scss */
div[ltype=privmsg] span.senderContainer,
div[ltype=notice] span.SenderContainer {
  width: 125px;
  padding: 0 10px;
  display: table-cell;
  text-align: right;
  font-weight: bold;
  font-style: normal;
  position: relative;
}
/* line 286, Data/Resources/scss/_theme.scss */
div[ltype=privmsg] span.senderContainer .sender,
div[ltype=notice] span.SenderContainer .sender {
  max-width: 125px;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  right: 10px;
  overflow: hidden;
}

/* line 296, Data/Resources/scss/_theme.scss */
div[ltype=action] span.senderContainer {
  padding: 0 3px 0 145px;
  display: table-cell;
  font-weight: bold;
  font-style: italic;
}

/* line 303, Data/Resources/scss/_theme.scss */
div[ltype=privmsg] span.innerMessage,
div[ltype=notice] span.innerMessage {
  display: table-cell;
}

/* line 308, Data/Resources/scss/_theme.scss */
div[ltype=action] span.innerMessage {
  font-style: italic;
}

/* line 312, Data/Resources/scss/_theme.scss */
div[ltype=action] span.innerMessage {
  display: table-cell;
}

/* line 316, Data/Resources/scss/_theme.scss */
div.event span.message {
  display: table-cell;
  padding-left: 145px;
}

/* line 321, Data/Resources/scss/_theme.scss */
div.event span.message, div[ltype=notice] span.message {
  font-size: 90%;
  color: rgba(95, 179, 179, 0.3);
  font-style: italic;
}
/* line 326, Data/Resources/scss/_theme.scss */
div.event span.message a, div[ltype=notice] span.message a {
  opacity: 0.5;
}

/* line 331, Data/Resources/scss/_theme.scss */
.inline_nickname {
  font-weight: 700;
}

/* line 335, Data/Resources/scss/_theme.scss */
.line[ltype=privmsg][highlight=true],
.line[ltype=action][highlight=true] {
  background: linear-gradient(90deg, rgba(236, 95, 103, 0.15), rgba(249, 145, 87, 0.15), rgba(250, 200, 99, 0.15), rgba(153, 199, 148, 0.15), rgba(95, 179, 179, 0.15), rgba(102, 153, 204, 0.15), rgba(197, 148, 197, 0.15));
}

/* line 351, Data/Resources/scss/_theme.scss */
.line[ltype=privmsg][highlight=true] .sender, .line[ltype=privmsg][highlight=true] .inline_nickname,
.line[ltype=action][highlight=true] .sender,
.line[ltype=action][highlight=true] .inline_nickname,
.line.selectedUser .sender,
.line.selectedUser .inline_nickname,
.line[ltype=privmsg][mtype*=myself] .sender,
.line[ltype=privmsg][mtype*=myself] .inline_nickname {
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.75);
}

/* line 356, Data/Resources/scss/_theme.scss */
.sender[mtype*=myself] {
  color: #5FB3B3 !important;
}

/* line 360, Data/Resources/scss/_theme.scss */
div[mtype*=myself] {
  background-color: rgba(95, 179, 179, 0.1);
}

/* line 364, Data/Resources/scss/_theme.scss */
.line[ltype=join] .message:before,
.line[ltype=part] .message:before,
.line[ltype=quit] .message:before,
.line[ltype=mode] .message:before,
.line[ltype=debug] .message:before,
.line[ltype=nick] .message:before,
.line[ltype=topic] .message:before,
.line[ltype=website] .message:before,
.line[ltype=action] .sender:before {
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  opacity: 0.6;
  margin-left: -1.5em;
  padding-right: 0.4em;
}

/* line 382, Data/Resources/scss/_theme.scss */
.line[ltype=join] .message:before {
  color: #99C794;
}

/* line 390, Data/Resources/scss/_theme.scss */
.line[ltype=part] .message:before,
.line[ltype=quit] .message:before {
  color: #EC5F67;
}

/* line 397, Data/Resources/scss/_theme.scss */
.line[ltype=topic] .message:before {
  color: #6699CC;
}

/* line 404, Data/Resources/scss/_theme.scss */
.line[ltype=mode] .message:before {
  color: #FAC863;
}

/* line 411, Data/Resources/scss/_theme.scss */
.line[ltype=debug] .message:before {
  color: #EC5F67;
}

/* line 418, Data/Resources/scss/_theme.scss */
.line[ltype=nick] .message:before {
  color: #5FB3B3;
}

/* line 425, Data/Resources/scss/_theme.scss */
.line[ltype=website] .message:before {
  color: #C594C5;
}

/* line 431, Data/Resources/scss/_theme.scss */
.line[ltype=action] .sender:before {
  color: #5FB3B3;
}

/* line 436, Data/Resources/scss/_theme.scss */
.time {
  display: table-cell;
  float: right;
  padding: 2px 10px;
  font-size: 75%;
  color: rgba(255, 255, 255, 0.2);
}

/* line 444, Data/Resources/scss/_theme.scss */
.historic {
  opacity: 0.50;
}

/* line 452, Data/Resources/scss/_theme.scss */
.senderContainer {
  cursor: pointer;
  overflow: hidden;
}

/* line 457, Data/Resources/scss/_theme.scss */
.line[ltype=privmsg]:not(.selectedUser),
.line[ltype=action]:not(.selectedUser) {
  transition-property: background-color;
  transition-duration: 0.5s, 0.5s, 0.5s;
}

/* line 463, Data/Resources/scss/_theme.scss */
.line[ltype=privmsg] .time:not(.selectedUser),
.line[ltype=action] .time:not(.selectedUser) {
  transition: color 0.5s;
}

/* line 468, Data/Resources/scss/_theme.scss */
.line.selectedUser[highlight=false] .time {
  transition: color 0.5s ease-in;
}

/* line 472, Data/Resources/scss/_theme.scss */
.line.selectedUser[highlight=false] {
  transition-property: background-color;
  transition-duration: 0.5s, 0.5s, 0.5s;
  z-index: 190;
  position: relative;
  background-color: rgba(236, 95, 103, 0.2);
}

/* line 487, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='0'],
.inline_nickname[colornumber$='0'] {
  color: #9e3844 !important;
}

/* line 492, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='1'],
.inline_nickname[colornumber$='1'] {
  color: #a65e37 !important;
}

/* line 497, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='2'],
.inline_nickname[colornumber$='2'] {
  color: #a7883d !important;
}

/* line 502, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='3'],
.inline_nickname[colornumber$='3'] {
  color: #4f9261 !important;
}

/* line 507, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='4'],
.inline_nickname[colornumber$='4'] {
  color: #328288 !important;
}

/* line 512, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='5'],
.inline_nickname[colornumber$='5'] {
  color: #356997 !important;
}

/* line 517, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='6'],
.inline_nickname[colornumber$='6'] {
  color: #7e5495 !important;
}

/* line 522, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='7'],
.inline_nickname[colornumber$='7'] {
  color: #deaf8f !important;
}

/* line 527, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='8'],
.inline_nickname[colornumber$='8'] {
  color: #EC5F67 !important;
}

/* line 532, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='9'],
.inline_nickname[colornumber$='9'] {
  color: #F99157 !important;
}

/* line 537, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='10'],
.inline_nickname[colornumber$='10'] {
  color: #FAC863 !important;
}

/* line 542, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='11'],
.inline_nickname[colornumber$='11'] {
  color: #99C794 !important;
}

/* line 547, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='12'],
.inline_nickname[colornumber$='12'] {
  color: #5FB3B3 !important;
}

/* line 552, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='13'],
.inline_nickname[colornumber$='13'] {
  color: #6699CC !important;
}

/* line 557, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='14'],
.inline_nickname[colornumber$='14'] {
  color: #C594C5 !important;
}

/* line 562, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='15'],
.inline_nickname[colornumber$='15'] {
  color: #AB7967 !important;
}

/* line 567, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='16'],
.inline_nickname[colornumber$='16'] {
  color: #bf616a !important;
}

/* line 572, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='17'],
.inline_nickname[colornumber$='17'] {
  color: #d08770 !important;
}

/* line 577, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='18'],
.inline_nickname[colornumber$='18'] {
  color: #ebcb8b !important;
}

/* line 582, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='19'],
.inline_nickname[colornumber$='19'] {
  color: #a3be8c !important;
}

/* line 587, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='20'],
.inline_nickname[colornumber$='20'] {
  color: #96b5b4 !important;
}

/* line 592, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='21'],
.inline_nickname[colornumber$='21'] {
  color: #8fa1b3 !important;
}

/* line 597, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='22'],
.inline_nickname[colornumber$='22'] {
  color: #b48ead !important;
}

/* line 602, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='23'],
.inline_nickname[colornumber$='23'] {
  color: #ab7967 !important;
}

/* line 607, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='24'],
.inline_nickname[colornumber$='24'] {
  color: #fb9fb1 !important;
}

/* line 612, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='25'],
.inline_nickname[colornumber$='25'] {
  color: #eda987 !important;
}

/* line 617, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='26'],
.inline_nickname[colornumber$='26'] {
  color: #ddb26f !important;
}

/* line 622, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='27'],
.inline_nickname[colornumber$='27'],
.sender[nickname$="Serv"] {
  color: #acc267 !important;
}

/* line 628, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='28'],
.inline_nickname[colornumber$='28'] {
  color: #12cfc0 !important;
}

/* line 633, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='29'],
.inline_nickname[colornumber$='29'] {
  color: #6fc2ef !important;
}

/* line 638, Data/Resources/scss/_theme.scss */
.sender[mtype*=normal][colornumber$='30'],
.inline_nickname[colornumber$='30'] {
  color: #e1a3ee !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='0'] {
  color: #EAEAEA !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='0'] {
  background-color: #EAEAEA !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='1'] {
  color: #515151 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='1'] {
  background-color: #515151 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='2'] {
  color: #356997 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='2'] {
  background-color: #356997 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='3'] {
  color: #4f9261 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='3'] {
  background-color: #4f9261 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='4'] {
  color: #9e3844 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='4'] {
  background-color: #9e3844 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='5'] {
  color: #784e42 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='5'] {
  background-color: #784e42 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='6'] {
  color: #7e5495 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='6'] {
  background-color: #7e5495 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='7'] {
  color: #F99157 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='7'] {
  background-color: #F99157 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='8'] {
  color: #FAC863 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='8'] {
  background-color: #FAC863 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='9'] {
  color: #99C794 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='9'] {
  background-color: #99C794 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='10'] {
  color: #328288 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='10'] {
  background-color: #328288 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='11'] {
  color: #5FB3B3 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='11'] {
  background-color: #5FB3B3 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='12'] {
  color: #6699CC !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='12'] {
  background-color: #6699CC !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='13'] {
  color: #C594C5 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='13'] {
  background-color: #C594C5 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='14'] {
  color: #1d2d36 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='14'] {
  background-color: #1d2d36 !important;
}

/* line 664, Data/Resources/scss/_theme.scss */
.effect[color-number='15'] {
  color: #1c2c35 !important;
}

/* line 668, Data/Resources/scss/_theme.scss */
.effect[bgcolor-number='15'] {
  background-color: #1c2c35 !important;
}
